.post:hover{
  background: #fcf5e2;
}

.custom-banner{
  background: #c4e6ef;
  padding: 20px;
  text-align: center;
}

.header {
	margin-bottom: 0;
}

.tagline-container {
	background: url(/img/startup2.jpg);
	background-size: cover;
	color: #fff;
	padding: 100px 0;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
	margin: 0 0 10px 0;
	max-width: none;
}

.tagline {
	font-size: 4em;
	margin:	0;
	max-width: none
}

.description {font-size: 1.5em;}


.post-upvote .upvote-link {
	display: inline-block;
}

.comments-link {
	display: none;
}

.post-author {
	display: none;
}

.post-time {
	font-size: 10px;
}

.post-info {
	text-align: center;
}

@media screen and (min-width: 30em) {
.post-heading .post-title {
font-size: 12px;
}
}

@media screen and (min-width: 45em) {
.post-heading .post-title {
font-size: 16px;
}
}

@media screen and (min-width: 60em) {
.post-heading .post-title {
font-size: 24px;
}
}

@media screen and (min-width: 45em) {
.posts-grid .post-heading {
margin-top: 20%;
}
}

@media screen and (max-width: 30em) {
.posts-grid .post-heading {
margin-top: 20%;
}
}


.posts-grid .post-info {
padding: 10px;
position: absolute;
top: 0;
height: calc(100% - 40px);
width: 100%;
background-color: rgba(0,0,0,.8);
padding: 0 20px;
}

.posts-grid .post-info:hover {
background: rgba(67, 144, 138, 0.901961);
display: inline-block;
}

.posts-grid .post-heading .post-title, .posts-grid .post-heading .post-title:visited {
color: #ffffff !important;
}

.posts-grid .post-category {
	display: none;
}